.years-icon {
	padding: 30px;
	font-weight: $fw-700;
	line-height: 1.2;
	border: 1px solid rgba($black, 0.2);
	border-radius: 50%;

	@include mq(lg) {
		padding: 20px;
	}

	&__content {
		@include flex-column-all-center;
		position: relative;
		width: 140px;
		height: 140px;
		padding: 20px;
		text-align: center;
		background-color: $grey-200;
		border-radius: 50%;

		@include mq(lg) {
			width: 93px;
			height: 93px;
		}

		&::before {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 80%;
			height: 80%;
			border: 1px dashed $grey-300;
			border-radius: 50%;
			transform: translate(-50%, -50%);
			content: '';
		}
	}

	&__decor {
		position: absolute;
		top: 0;
		left: -10%;
		width: 120%;
		height: 100%;

		&::before,
		&::after {
			@include bg-conatin;
			position: absolute;
			top: 50%;
			width: 35px;
			height: 76px;
			transform: translateY(-50%);
			content: '';
			fill: $red-500;

			@include mq(lg) {
				width: 24px;
				height: 50px;
			}
		}

		&::before {
			left: 0;
			background-image: url('../img/illustrations/spikelet-left.svg');
		}

		&::after {
			right: 0;
			background-image: url('../img/illustrations/spikelet-right.svg');
		}
	}

	&__title {
		color: $dark-800;
		font-size: 38px;

		@include mq(lg) {
			font-size: 25px;
		}
	}

	&__text {
		font-size: 20px;

		@include mq(lg) {
			font-size: 13px;
		}
	}

	@include mq(md) {
		display: none;
	}
}
