.recommended-products {
	.tabs {
		&--hidden {
			.tabs__nav,
			.tabs__content {
				display: none;
			}
		}

		@include mq(lg) {
			margin-bottom: 32px;
		}

		&__nav {
			display: flex;
			width: 100%;
			padding-bottom: 8px;
			overflow-x: auto;
			@include adaptiv-value('margin-bottom', 22, 12, 1);
		}

		&__nav-item {
			width: 100%;
			white-space: nowrap;

			&:not(:last-child) {
				margin-right: 10px;
			}
		}

		&__nav-btn {
			width: 100%;

			&--active {
				color: $white;
				background-color: $dark-800;
			}
		}

		&__wrapper {
			display: flex;
			justify-content: space-between;
		}

		&__content {
			width: 100%;
			@include adaptiv-value('max-width', 1015, 500, 1);
			margin-right: 20px;

			@include mq(xl) {
				max-width: 650px;
			}

			@include mq(lg) {
				max-width: 100%;
				margin-right: 0;
			}
		}

		&__panel {
			position: relative;
			display: none;

			&--active {
				display: flex;
			}
		}
	}

	&__wrapper {
		position: relative;
	}

	&__list {
		display: flex;
	}

	&__swiper {
		position: static;
		width: 100%;
		max-width: 875px;

		@include mq(xl) {
			max-width: 100%;
			padding-bottom: 10px;
		}
	}

	&__item {
		width: 50%;

		&:not(:last-child) {
			margin-right: 20px;
		}

		@include mq(sm) {
			min-width: 281px;
		}
	}

	&__total {
		display: none;

		@include mq(lg) {
			display: flex;
			width: 100%;
		}

		&--hidden {
			display: none;
		}
	}

	&__scrollbar {
		position: absolute;
		bottom: 0;
		left: 0;
		display: none;
		width: 100%;
		height: 1.5px;
		background-color: rgba($grey-200, 0.2);

		@include mq(xl) {
			display: block;
		}

		.swiper-scrollbar-drag {
			height: 3px;
		}
	}

	&__button {
		position: absolute;
		top: 48%;
		background-color: $grey-200;

		@include mq(xl) {
			display: none;
		}

		&--next {
			@include adaptiv-value('right', 0, -30, 1);
		}

		&--prev {
			@include adaptiv-value('left', 0, -30, 1);
		}

		&::after {
			width: 16px;
			height: 16px;
			filter: invert(0);
		}
	}
}
