.catalog-v2 {
	.product-card {
		&__images {
			padding-bottom: 54.5%;

			@media (any-hover: hover) {
				&:hover {
					.product-card__small {
						bottom: 10px;
					}
				}
			}
		}

		&__small {
			max-width: 600px;
			padding: 4px;
			border-radius: 4px;

			@media (any-hover: hover) {
				bottom: -25px;
			}
		}

		&__thumb {
			height: 40px;
		}

		&__info {
			align-items: flex-start;
			margin-right: 0;

			@include mq(xl) {
				justify-content: space-between;
			}
		}

		&__button {
			width: 30px;
			height: 30px;

			&::after {
				width: 8px;
				height: 8px;
			}

			&--next {
				right: 15px;
			}

			&--prev {
				left: 15px;
			}
		}

		&__subtitle,
		&__link {
			display: none;

			@include mq(lg) {
				display: block;
			}
		}

		&__set {
			@include mq(lg, min) {
				display: flex;
			}
		}

		&__kit {
			margin-bottom: 0;
		}

		&__name {
			width: auto;
			max-width: unset;
		}

		&__more {
			display: block;
			color: $red-600;
			font-weight: $fw-600;
			font-size: 16px;

			@include mq(lg) {
				display: none;
			}
		}

		.product-price {
			&__current {
				@include adaptiv-value('font-size', 20, 16, 1);
			}

			&__old {
				@include adaptiv-value('font-size', 14, 12, 1);
			}
		}

		&__pay {
			flex-direction: column;
			align-items: flex-end;
		}

		&__cost {
			display: flex;
			flex-direction: row-reverse;
			align-items: center;
			width: auto;
			max-width: unset;
			margin-right: 0;

			@include mq(lg) {
				flex-direction: column;
				align-items: flex-end;
			}
		}

		&__subprice {
			display: none;
			margin-right: 15px;

			@include mq(lg) {
				display: inline-block;
				margin-right: 0;
			}
		}

		&__question {
			padding-right: 34px;

			&::before {
				width: 22px;
				height: 22px;
				font-size: 12px;
			}
		}
	}
}
