.circle-link {
	@include adaptiv-value('max-width', 100, 77, 1);
	@include adaptiv-value('height', 100, 77, 1);
	@include adaptiv-value('padding', 15, 8, 1);
	@include flex-all-center;
	position: absolute;
	bottom: -10px;
	left: 50%;
	z-index: 2;
	width: 100%;
	background-color: $white;
	border-radius: 50%;
	transform: translate(-50%, 70%);

	&::before {
		@include adaptiv-value('width', 36, 26, 1);
		@include adaptiv-value('height', 36, 26, 1);
		@include bg-conatin;
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 3;
		background-image: url('../img/home-hero/circle-arrow.svg');
		transform: translate(-50%, -50%);
		content: '';
	}

	&__content {
		@include adaptiv-value('flex-basis', 85, 62, 1);
		@include adaptiv-value('height', 85, 62, 1);
		@include bg-conatin;
		flex-shrink: 0;
		width: 100%;
		animation: 5s linear 0s normal none infinite running circle-link;

		&--big {
			@include adaptiv-value('flex-basis', 95, 72, 1);
			@include adaptiv-value('height', 95, 72, 1);
		}
	}
}
