.extra-plank {
	@include adaptiv-value('font-size', 16, 12, 1);
	display: flex;
	flex-direction: column;
	gap: 8px;
	padding: 22px 30px 22px 95px;
	color: $dark-800;
	background-color: $white;
	border-radius: 1000px;
	box-shadow: 0 20px 54px 0 rgba($black, 0.1);

	@include mq(lg) {
		padding: 10px 20px 10px 64px;
	}

	&::before {
		@include bg-conatin;
		position: absolute;
		top: 16px;
		left: 16px;
		width: 63px;
		height: 63px;
		background-color: $dark-800;
		background-image: url('../img/sprite.svg#phone');
		background-size: 24px;
		border-radius: 50%;
		content: '';

		@include mq(lg) {
			top: 10px;
			left: 10px;
			width: 44px;
			height: 44px;
			background-size: 16px;
		}
	}

	&__link {
		color: $red-600;
		font-weight: $fw-600;
		line-height: 1.2;
	}
}
