.favorite-button {
	@include flex-all-center;
	position: absolute;
	background-color: $white;
	border-radius: 50%;

	&--active {
		.favorite-button__icon {
			fill: $red-600;
		}
	}

	&__icon {
		fill: $white;
		stroke: $red-600;
		transition: fill 0.3s ease-in-out;
	}
}
