.favorite-button {
	position: absolute;
	background-color: $white;
	border-radius: 50%;
	@include flex-all-center;

	&--active {
		.favorite-button__icon {
			fill: $red-600;
		}
	}

	&__icon {
		transition: fill 0.3s ease-in-out;
		fill: transparent;
		stroke: $red-600;
		stroke-width: 2px;
	}
}