.form {
	&__items {
		display: flex;
		width: 100%;

		@include mq(md) {
			flex-direction: column;
		}
	}

	&__item {
		width: 100%;

		&:not(:last-child) {
			margin-right: 15px;

			@include mq(md) {
				margin-right: 0;
				margin-bottom: 4px;
			}
		}
	}

	&__field {
		width: 100%;
		padding: 20px 25px;
		font-weight: $fw-600;
		font-size: 16px;
		line-height: 1.2;
		background-color: $white;
		border-radius: 10px;

		@include mq(md) {
			padding: 17px 20px;
		}

		&::placeholder {
			color: $grey-600;
		}
	}

	&__agree {
		display: inline-flex;
		align-items: center;
		color: $white;
		line-height: 1.2;
		cursor: pointer;
		@include adaptiv-value('font-size', 16, 12, 1);
	}

	&__visible {
		margin-right: 8px;
	}
}

.checkbox-hidden {
	@include hidden;

	&:checked + .checkbox-visible {
		&::before {
			opacity: 1;
		}
	}

    &:disabled + .checkbox-visible {
		&::before {
			filter: invert(89%) sepia(3%) saturate(6%) hue-rotate(357deg) brightness(90%) contrast(92%);
		}
	}
}

.checkbox-visible {
	position: relative;
	background-color: $white;
	border: 1px solid rgba($grey-600, 0.4);
	border-radius: 5px;
	@include adaptiv-value('width', 24, 20, 1);
	@include adaptiv-value('height', 24, 20, 1);
    cursor: pointer;

	&::before {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 17px;
		height: 17px;
		background-image: url('../img/icons/check.svg');
		transform: translate(-50%, -50%);
		opacity: 0;
        filter: invert(13%) sepia(96%) saturate(2665%) hue-rotate(345deg) brightness(122%) contrast(97%);
		transition: opacity 0.3s ease-in-out;
		content: '';
		@include bg-conatin;
	}
}
