.hero-section {
	padding-bottom: 100px;

	@include mq(lg) {
		padding-top: 20px;
	}

	.breadcrumbs {
		@include mq(lg) {
			display: none;
		}
	}

	.inscription {
		@include adaptiv-value('max-width', 1360, 396, 1);
		@include adaptiv-value('height', 162, 48, 1);
		position: absolute;
		bottom: 0;
		left: 51%;
		z-index: 1;
		width: 100%;
		overflow: hidden;
		transform: translateX(-51%);

		&::before {
			bottom: 0;
			left: 50%;
			width: 96%;
			transform: translate(-50%, 40%);

			@include mq(sm) {
				transform: translate(-50%, 10%);
			}
		}
	}

	&__wrapper {
		position: relative;
		display: flex;
		@include adaptiv-value('gap', 20, 10, 1);

		@include mq(sm) {
			flex-direction: column;
		}

		&::after {
			position: absolute;
			bottom: -65px;
			left: 51%;
			z-index: 2;
			width: 278px;
			height: 63px;
			background-color: $white;
			transform: translateX(-51%);
			content: '';
			clip-path: path(
				'M0.5 63H0.511518C17.1479 63 33.3691 57.7615 46.9107 48.0157L92.8075 14.9843C120.668 -5.06683 158.101 -4.98776 185.878 15.1809L230.829 47.8191C244.423 57.6893 260.749 63 277.5 63H0.5Z'
			);

			@include mq(sm) {
				bottom: -30px;
			}
		}
	}

	&__content,
	&__image {
		width: 50%;
		@include adaptiv-value('border-radius', 30, 15, 1);

		@include mq(sm) {
			width: 100%;
		}
	}

	&__content {
		position: relative;
		padding: 50px;
		padding-bottom: 160px;
		background-color: $grey-200;

		@include mq(lg) {
			padding: 24px;
			padding-bottom: 112px;
		}

		@include mq(sm) {
			padding-bottom: 63px;
		}

		.hero-section__inscription {
			display: none;

			@include mq(sm) {
				display: block;
			}
		}
	}

	&__title {
		@include mq(lg) {
			margin-bottom: 10px;
			font-size: 20px;
		}
	}

	&__text {
		margin-bottom: 40px;

		@include mq(lg) {
			margin-bottom: 20px;
			font-size: 14px;
		}

		p {
			&:not(:last-child) {
				margin-bottom: 8px;
			}
		}
	}

	&__actions {
		display: flex;
		@include adaptiv-value('gap', 15, 10, 1);

		@include mq(lg) {
			flex-direction: column;
		}

		* {
			@include mq(lg) {
				font-size: 14px;
			}
		}
	}

	&__image {
		@include mq(sm) {
			height: 232px;
		}
	}

	&__bg {
		display: flex;
		width: 100%;
		height: 100%;
		border-radius: inherit;
		@include bg-cover;
	}

	.circle-link {
		z-index: 3;
		transform: translate(-50%, 50%);

		@include mq(sm) {
			bottom: -10px;
		}
	}
}
