.swiper-slide {
	box-sizing: border-box;
}

.swiper-button-next,
.swiper-button-prev {
	@include adaptiv-value('width', 60, 28, 1);
	@include adaptiv-value('height', 60, 28, 1);
	z-index: 7;
	margin-top: 0;
	color: transparent;
	backdrop-filter: blur(6px);

	&::after {
		width: 24px;
		height: 24px;
		font-size: 0;
	}
}

.arrow-button {
	position: relative;
	background-color: rgba($white, 0.4);
	border-radius: 50%;

	&::after {
		@include bg-conatin;
		position: absolute;
		top: 50%;
		left: 50%;
		width: 20px;
		height: 20px;
		background-image: url('../img/icons/arrow.svg');
		transform: translate(-50%, -50%) rotate(-90deg);
		filter: invert(1);
		content: '';
	}

	&--left {
		&::after {
			transform: translate(-50%, -50%) rotate(90deg);
		}
	}
}
