.connection-appliances {
	@include adaptiv-value('padding-top', 100, 40, 1);

	&__wrapper {
		display: flex;
		gap: 20px;
		justify-content: space-between;

		@include mq(md) {
			flex-direction: column;
		}
	}

	&__content {
		max-width: 670px;
	}

	&__title {
		@include adaptiv-value('margin-bottom', 15, 10, 1);
	}

	&__text {
		@include adaptiv-value('font-size', 20, 12, 1);

		p {
			&:not(:last-child) {
				@include adaptiv-value('margin-bottom', 24, 12, 1);
			}
		}
	}

	&__image {
		position: relative;
		max-width: 630px;
		@include adaptiv-value('border-radius', 40, 15, 1);
		@include adaptiv-value('min-height', 490, 290, 1);
	}

	&__content,
	&__image {
		width: 100%;

		@include mq(md) {
			max-width: 100%;
		}
	}

	.extra-plank {
		position: absolute;
		right: 0;
		bottom: -1px;
		z-index: 1;
		max-width: 80%;
		@include adaptiv-value('border-radius', 40, 25, 1);
		padding: 16px 30px 16px 95px;

		@include mq(lg) {
			padding: 10px 20px 10px 64px;
		}

		&::before {
			background-image: url('../img/sprite.svg#phone');
		}
	}

	&__bg {
		border-radius: inherit;
		@include resize-bg;
	}
}
