/* stylelint-disable */

@mixin burger {
	$burger-width: 32px;
	$burger-height: 32px;
	$burger-line-height: 1px;

	background-color: $grey-200;
	border-radius: 50%;
	transition: background-color 0.3s ease-in-out;
	position: relative;
	width: $burger-width;
	height: $burger-height;
	color: $dark-800;

	&::before,
	&::after {
		content: '';
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		width: 12px;
		height: $burger-line-height;
		background-color: currentColor;
		border-radius: 2px;
		transition: transform 0.3s ease-in-out, top 0.3s ease-in-out,
			background-color 0.3s ease-in-out;
	}

	&::before {
		top: 10px;
	}

	&::after {
		top: 21px;
	}

	&__line {
		position: absolute;
		left: 50%;
		top: 50%;
		width: 12px;
		height: $burger-line-height;
		background-color: currentColor;
		transform: translate(-50%, -50%);
		transition: transform 0.3s ease-in-out;
	}

	&--active {
		&::before,
		&::after {
			top: 50%;
			background-color: $white;
			transition: transform 0.3s ease-in-out, top 0.3s ease-in-out,
				background-color 0.3s ease-in-out;
		}

		&::before {
			transform: translate(-50%, -50%) rotate(45deg);
		}

		&::after {
			transform: translate(-50%, -50%) rotate(-45deg);
		}

		.burger__line {
			transform: translate(-50%, -50%) scale(0);
			transition: transform 0.3s ease-in-out;
		}
	}
}
