<article class="date-card date-card--@line">
    <div class="date-card__decor date-card__decor--@line">
        <span class="date-card__number subtitle">@number</span>
        <picture>
            <source srcset="img/history-page/main-dates/@img.avif" type="image/avif">
            <source srcset="img/history-page/main-dates/@img.webp" type="image/webp">
            <img class="date-card__img" src="img/history-page/main-dates/@img.jpg" alt="Запуск" width="120" height="120" loading="lazy">
        </picture>
    </div>
    <div class="date-card__content">
        <time class="date-card__date" datetime="@date">@date</time>
        <h3 class="date-card__title subtitle">@title</h3>
        <div class="date-card__text">
            @text
        </div>
    </div>
</article>