<article class="sketch-card">
    <div class="sketch-card__top">
        <span class="sketch-card__counter">
            №<span class="sketch-card__number">1</span>
        </span>
        <button class="favorite-button" type="button" aria-label="Добавить в избранное">
            <svg class="favorite-button__icon">
                <use xlink:href="img/sprite.svg#favorite">
            </svg>
        </button>
    </div>
    <picture>
        <source srcset="img/sketch/1.avif" type="image/avif">
        <source srcset="img/sketch/1.webp" type="image/webp">
        <img class="sketch-card__img" src="img/sketch/1.png" alt="1" width="253" height="182" loading="lazy">
    </picture>
    <span class="sketch-card__price subtitle">95 000 ₽</span>
    <span class="sketch-card__subtext">Цена за всю кухню</span>
</article>