<section class="consultation @class" id="consultation">
    <div class="container">
        <form class="consultation__wrapper form" action="#">
            <h2 class="consultation__title title">
                Оставьте заявку на консультацию
            </h2>
            <div class="consultation__content">
                <div class="form__inner">
                    <div class="form__items">
                        <div class="form__item">
                            <label class="sr-only" for="consultation-name">
                                Введите ваше имя
                            </label>
                            <input class="form__field" name="name" type="text" placeholder="Имя" id="consultation-name" required>
                        </div>
                        <div class="form__item">
                            <label class="sr-only" for="consultation-phone">
                                Введите номер телефона
                            </label>
                            <input class="form__field" name="phone" type="tel" placeholder="Телефон" id="consultation-phone" pattern="^((8|\+7)[\- ]?)?(\(?\d{3}\)?[\- ]?)?[\d\- ]{7,10}$" required>
                        </div>
                        <div class="form__item">
                            <label class="sr-only" for="consultation-email">
                                Введите вашу почту
                            </label>
                            <input class="form__field" name="phone" type="email" placeholder="Почта" id="consultation-email" required>
                        </div>
                    </div>
                    <button class="form__button button" type="submit">
                        Оставить заявку
                    </button>
                </div>
                <label class="form__agree">
                    <input class="form__hidden checkbox-hidden" type="checkbox" name="agree" checked required>
                    <span class="form__visible checkbox-visible" aria-hidden></span>
                    <span>
                        Согласен (а) на обработку <a href="#"> персональных данных</a>
                    </span>
                </label>
            </div>
        </form>
    </div>
</section>