<footer class="footer">
    <div class="footer__top">
        <div class="container">
            <div class="footer__wrapper">
                <address class="footer__info">
                    <a class="footer__logo logo" href="#">
                        <img class="logo__img" src="img/logos/logo-light.svg" alt="логотип" width="270" height="40" loading="lazy">
                    </a>
                    <a class="footer__contact footer__contact--phone" href="tel:+7 4951896592">
                        + 7 (495) 189-65-92
                    </a>
                    <a class="footer__contact footer__contact--email" href="mailto:kuhnistroy@kuhni.ru">
                        kuhnistroy@kuhni.ru
                    </a>
                    <button class="footer__call" type="button">Заказать звонок</button>
                </address>
                <ul class="menu-accordion">
                    <li class="menu-accordion__item">
                        <button class="menu-accordion__button" aria-label="Открыть" aria-expanded="false" type="button">Компания</button>
                        <ul class="menu-accordion__content">
                            <li class="menu-accordion__link">
                                <a href="#">Контакты</a>
                            </li>
                            <li class="menu-accordion__link">
                                <a href="#">Акции</a>
                            </li>
                            <li class="menu-accordion__link">
                                <a href="#">Адреса салонов</a>
                            </li>
                            <li class="menu-accordion__link">
                                <a href="#">Портфолио</a>
                            </li>
                            <li class="menu-accordion__link">
                                <a href="#">Блог</a>
                            </li>
                            <li class="menu-accordion__link">
                                <a href="#">О компании</a>
                            </li>
                            <li class="menu-accordion__link">
                                <a href="#">Новости</a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-accordion__item">
                        <button class="menu-accordion__button" aria-label="Открыть" aria-expanded="false" type="button">Сервис</button>
                        <ul class="menu-accordion__content">
                            <li class="menu-accordion__link">
                                <a href="#">Замер</a>
                            </li>
                            <li class="menu-accordion__link">
                                <a href="#">Доставка и сборка</a>
                            </li>
                            <li class="menu-accordion__link">
                                <a href="#">Монтаж</a>
                            </li>
                            <li class="menu-accordion__link">
                                <a href="#">Гарантия</a>
                            </li>
                            <li class="menu-accordion__link">
                                <a href="#">Миссия</a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-accordion__item">
                        <button class="menu-accordion__button" aria-label="Открыть" aria-expanded="false" type="button">Каталог</button>
                        <ul class="menu-accordion__content">
                            <li class="menu-accordion__link">
                                <a href="#">Кухни</a>
                            </li>
                            <li class="menu-accordion__link">
                                <a href="#">Электрика</a>
                            </li>
                            <li class="menu-accordion__link">
                                <a href="#">Доп элементы</a>
                            </li>
                            <li class="menu-accordion__link">
                                <a href="#">Сантехника</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="container">
            <div class="menu-bottom">
                <ul class="social">
                    <li class="social__item">
                        <a class="social__link" href="#" style="background-image: url('img/social/facebook.svg')" target="_blank">
                            <span class="sr-only">Facebook</span>
                        </a>
                    </li>
                    <li class="social__item">
                        <a class="social__link" href="#" style="background-image: url('img/social/vk.svg')" target="_blank">
                            <span class="sr-only">vk</span>
                        </a>
                    </li>
                    <li class="social__item">
                        <a class="social__link" href="#" style="background-image: url('img/social/instagram.svg')" target="_blank">
                            <span class="sr-only">instagram</span>
                        </a>
                    </li>
                    <li class="social__item">
                        <a class="social__link" href="#" style="background-image: url('img/social/classmates.svg')" target="_blank">
                            <span class="sr-only">classmates</span>
                        </a>
                    </li>
                    <li class="social__item">
                        <a class="social__link" href="#" style="background-image: url('img/social/youtube.svg')" target="_blank">
                            <span class="sr-only">youtube</span>
                        </a>
                    </li>
                </ul>
                <span class="menu-bottom__copy">Copyright © 2023 КУХНИСТРОЙ</span>
                <a class="menu-bottom__offer" href="#">Публичная оферта</a>
            </div>
        </div>
    </div>
</footer>