<header class="header">

    <!-- <svg class="test__icon" style="fill: black; stroke: red;">
        <use xlink:href="img/sprite.svg#close">
    </svg> -->

    <nav class="header__navigation">
        <div class="header-top">
            <div class="container">
                <div class="header-top__wrapper">
                    <ul class="header-top__items">
                        <li class="header-top__item">
                            <a class="header-top__link" href="#">
                                Сотрудничество
                            </a>
                        </li>
                        <li class="header-top__item">
                            <a class="header-top__link" href="#">
                                Вакансии
                            </a>
                        </li>
                        <li class="header-top__item">
                            <a class="header-top__link" href="#">
                                Адреса салонов
                            </a>
                        </li>
                        <li class="header-top__item">
                            <a class="header-top__link" href="#">
                                О компании
                            </a>
                        </li>
                    </ul>
                    <div class="header-top__user">
                        <button class="header-top__search" type="button">
                            Поиск
                        </button>
                        <a class="header-top__contact header-top__contact--phone" href="tel:+74951896592">
                            + 7 (495) 189-65-92
                        </a>
                        <a class="header-top__contact header-top__contact--email" href="mailto:kuhnistroy@kuhni.ru">
                            kuhnistroy@kuhni.ru
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="header-bottom">
            <div class="container">
                <div class="header-bottom__wrapper">
                    <a class="header-bottom__logo logo" href="#">
                        <img class="logo__img" src="img/logos/logo-dark.svg" alt="логотип" width="270" height="46" loading="lazy">
                    </a>
                    <ul class="header-bottom__items">
                        <li class="header-bottom__item header-bottom__item--menu">
                            <a class="header-bottom__link" href="#">
                                Каталог
                            </a>
                            <button class="header-bottom__button" type="button" aria-label="Открыть меню" aria-expanded="false"></button>
                        </li>
                        <li class="header-bottom__item">
                            <a class="header-bottom__link" href="#">
                                Услуги
                            </a>
                        </li>
                        <li class="header-bottom__item">
                            <a class="header-bottom__link" href="#">
                                Портфолио
                            </a>
                        </li>
                        <li class="header-bottom__item">
                            <a class="header-bottom__link" href="#">
                                Контакты
                            </a>
                        </li>
                    </ul>
                    <div class="header-bottom__user header-user">
                        <a class="header-user__favorite" href="#">
                            <span class="header-user__icon" aria-hidden="true"></span>
                            Избранное (0)
                        </a>
                        <button class="header-user__call button" type="button">Заказать звонок</button>
                    </div>
                    <div class="header-bottom__mobile">
                        <a class="header-bottom__phone" href="tel:+78000000000">8 (800)-000-00-00</a>
                        <p class="header-bottom__hours">пн-пт с 8:00-18:00</p>
                    </div>
                    <button class="burger" type="button" aria-label="Открыть меню" aria-expanded="false" aria-controls="header-burger-menu" data-burger>
                        <span class="burger__line"></span>
                    </button>
                </div>
            </div>

            <div class="search-form">
                <label class="sr-only" for="header-search">Что искать?</label>
                <input class="search-form__field" name="search" type="text" placeholder="Введите поиск..." id="header-search" required>
                <div class="search-form__management">
                    <button class="search-form__button button" type="submit">
                        Искать
                    </button>
                    <button class="search-form__close" type="button">
                        <span class="sr-only">Закрыть поиск</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="drop-menu">
            <div class="drop-menu__body">
                <div class="container">
                    <div class="drop-menu__wrapper">
                        <div class="drop-menu__list">
                            <span class="drop-menu__title title">Кухни</span>
                            <ul class="drop-menu__items">
                                <li class="drop-menu__item">
                                    <a class="drop-menu__link" href="#">Все кухни</a>
                                </li>
                                <li class="drop-menu__item">
                                    <a class="drop-menu__link" href="#">Современный стиль</a>
                                </li>
                                <li class="drop-menu__item">
                                    <a class="drop-menu__link" href="#">Нео классика</a>
                                </li>
                                <li class="drop-menu__item">
                                    <a class="drop-menu__link" href="#">Классический стиль</a>
                                </li>
                            </ul>
                        </div>
                        <div class="drop-menu__list">
                            <span class="drop-menu__title title">Корпусная мебель</span>
                            <ul class="drop-menu__items">
                                <li class="drop-menu__item">
                                    <a class="drop-menu__link" href="#">Шкафы</a>
                                </li>
                                <li class="drop-menu__item">
                                    <a class="drop-menu__link" href="#">Гардеробные</a>
                                </li>
                                <li class="drop-menu__item">
                                    <a class="drop-menu__link" href="#">Прихожие</a>
                                </li>
                            </ul>
                        </div>
                        <ul class="drop-menu__recommendeds">
                            <li class="drop-menu__recommended">
                                @include('./cards/products/_product-today.html', {
                                'img' : '1',
                                'gradient' : 'product-today__image--gradient',
                                'label' : 'true',
                                'label-type' : 'product-today__label--light',
                                'label-text' : 'Рекомендуем сегодня',
                                'title' : 'Светлая кухня',
                                'subtitle' : 'Специально для любителей светлого',
                                'arrow' : 'true'
                                })
                            </li>
                            <li class="drop-menu__recommended">
                                @include('./cards/products/_product-today.html', {
                                'img' : '3',
                                'gradient' : 'product-today__image--gradient',
                                'label' : 'true',
                                'label-type' : 'product-today__label--dark',
                                'label-text' : 'Выгодное предложение',
                                'title' : 'Скидка на духовой шкаф',
                                'subtitle' : 'При покупке комплекта техники',
                                'arrow' : 'true'
                                })
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="burger-menu" id="header-burger-menu" data-menu>
            <div class="burger-menu__box">
                <div class="burger-menu__user header-user">
                    <a class="header-user__favorite" href="#">
                        <span class="header-user__icon" aria-hidden="true"></span>
                        Избранное (0)
                    </a>
                    <button class="header-user__call button" type="button">
                        Заказать звонок
                    </button>
                </div>
                <ul class="burger-menu__accordion accordion">
                    <li class="accordion__item">
                        <button class="accordion__button" aria-label="Открыть" aria-expanded="false" type="button">Каталог</button>
                        <ul class="accordion__content">
                            <li class="accordion__link">
                                <a href="#">Сотрудничество</a>
                            </li>
                            <li class="accordion__link">
                                <a href="#">Вакансии</a>
                            </li>
                            <li class="accordion__link">
                                <a href="#">Адреса салонов</a>
                            </li>
                            <li class="accordion__link">
                                <a href="#">О компании</a>
                            </li>
                        </ul>
                    </li>
                    <li class="accordion__item">
                        <button class="accordion__button" aria-label="Открыть" aria-expanded="false" type="button">Услуги</button>
                        <ul class="accordion__content">
                            <li class="accordion__link">
                                <a href="#">Сотрудничество</a>
                            </li>
                            <li class="accordion__link">
                                <a href="#">Вакансии</a>
                            </li>
                            <li class="accordion__link">
                                <a href="#">Адреса салонов</a>
                            </li>
                            <li class="accordion__link">
                                <a href="#">О компании</a>
                            </li>
                        </ul>
                    </li>
                    <li class="accordion__item">
                        <button class="accordion__button" aria-label="Открыть" aria-expanded="false" type="button">Контакты</button>
                        <ul class="accordion__content">
                            <li class="accordion__link">
                                <a href="#">Сотрудничество</a>
                            </li>
                            <li class="accordion__link">
                                <a href="#">Вакансии</a>
                            </li>
                            <li class="accordion__link">
                                <a href="#">Адреса салонов</a>
                            </li>
                            <li class="accordion__link">
                                <a href="#">О компании</a>
                            </li>
                        </ul>
                    </li>
                    <li class="accordion__item">
                        <button class="accordion__button" aria-label="Открыть" aria-expanded="false" type="button">Портфолио</button>
                        <ul class="accordion__content">
                            <li class="accordion__link">
                                <a href="#">Сотрудничество</a>
                            </li>
                            <li class="accordion__link">
                                <a href="#">Вакансии</a>
                            </li>
                            <li class="accordion__link">
                                <a href="#">Адреса салонов</a>
                            </li>
                            <li class="accordion__link">
                                <a href="#">О компании</a>
                            </li>
                        </ul>
                    </li>
                    <li class="accordion__item">
                        <button class="accordion__button" aria-label="Открыть" aria-expanded="false" type="button">Информация</button>
                        <ul class="accordion__content">
                            <li class="accordion__link">
                                <a href="#">Сотрудничество</a>
                            </li>
                            <li class="accordion__link">
                                <a href="#">Вакансии</a>
                            </li>
                            <li class="accordion__link">
                                <a href="#">Адреса салонов</a>
                            </li>
                            <li class="accordion__link">
                                <a href="#">О компании</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <a class="burger-menu__email" href="mailto:kuhnistroy@kuhni.ru">
                    kuhnistroy@kuhni.ru
                </a>
                <div class="burger-menu__bottom menu-bottom">
                    <ul class="social">
                        <li class="social__item">
                            <a class="social__link" href="#" style="background-image: url('img/social/facebook.svg')" target="_blank">
                                <span class="sr-only">Facebook</span>
                            </a>
                        </li>
                        <li class="social__item">
                            <a class="social__link" href="#" style="background-image: url('img/social/vk.svg')" target="_blank">
                                <span class="sr-only">vk</span>
                            </a>
                        </li>
                        <li class="social__item">
                            <a class="social__link" href="#" style="background-image: url('img/social/instagram.svg')" target="_blank">
                                <span class="sr-only">instagram</span>
                            </a>
                        </li>
                        <li class="social__item">
                            <a class="social__link" href="#" style="background-image: url('img/social/classmates.svg')" target="_blank">
                                <span class="sr-only">classmates</span>
                            </a>
                        </li>
                        <li class="social__item">
                            <a class="social__link" href="#" style="background-image: url('img/social/youtube.svg')" target="_blank">
                                <span class="sr-only">youtube</span>
                            </a>
                        </li>
                    </ul>
                    <span class="menu-bottom__copy">Copyright © 2023 КУХНИСТРОЙ</span>
                    <a class="menu-bottom__offer" href="#">Публичная оферта</a>
                </div>
            </div>
        </div>
    </nav>
</header>