.articles {
	@include adaptiv-value('padding-bottom', 40, 0, 1);

	&__items {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 40px 20px;

		@include mq(lg) {
			grid-template-columns: repeat(3, 1fr);
		}

		@include mq(sm) {
			grid-template-columns: repeat(2, 1fr);
			gap: 30px 10px;
		}

		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}
}
