.production-technologies {
	.tabs {
		&__nav {
			@include adaptiv-value('margin-bottom', 20, 10, 1);
			@include adaptiv-value('padding-bottom', 20, 10, 1);
			@include adaptiv-value('gap', 10, 4, 1);
			display: flex;
			overflow-x: auto;
		}

		&__nav-item {
			width: 100%;
		}

		&__nav-btn {
			width: 100%;
			white-space: nowrap;

			&--active {
				color: $white;
				background-color: $dark-800;
			}
		}

		&__panel {
			display: none;

			&--active {
				display: flex;
			}
		}
	}
}
