.froze-steps {
	@include adaptiv-value('padding-bottom', 50, 20, 1);

	&__header {
		width: 100%;
		max-width: 1015px;
		margin: 0 auto;
		text-align: center;
		@include adaptiv-value('margin-bottom', 75, 20, 1);
	}

	&__title {
		@include adaptiv-value('margin-bottom', 15, 10, 1);
	}

	&__text {
		@include adaptiv-value('font-size', 20, 14, 1);
	}
}
