.approach-card {
	display: flex;

	&__number {
		@include adaptiv-value('max-width', 48, 28, 1);
		@include adaptiv-value('height', 48, 28, 1);
		@include adaptiv-value('margin-right', 15, 12, 1);
		width: 100%;
		font-weight: $fw-600;
		background-color: $white;
		border: 1px solid rgba($grey-600, 0.4);
		border-radius: 50%;
		@include adaptiv-value('font-size', 16, 12, 1);
		@include flex-all-center;
	}

	&__title {
		margin-bottom: 5px;
		color: $black;
		font-weight: $fw-600;
		@include adaptiv-value('font-size', 20, 14, 1);
	}

	&__text {
		color: $grey-600;
		@include adaptiv-value('font-size', 16, 12, 1);

		p {
			&:not(:last-child) {
				margin-bottom: 4px;
			}
		}
	}
}
