.guarantee-card {
	@include adaptiv-value('border-radius', 30, 15, 1);
	position: relative;
	width: 100%;
	height: 100%;
	background-color: $grey-200;

	&__content {
		@include adaptive-value-master('max-width', 470, 350, 1900, 1124, 1);
		width: 100%;
		max-width: 470px;
		padding: 40px;

		@include mq(xl) {
			max-width: 470px;
			padding: 24px;
		}

		@include mq(md) {
			max-width: 100%;
			padding-top: 139px;
		}
	}

	&__title {
		@include adaptiv-value('margin-bottom', 12, 8, 1);
		color: $black;
	}

	&__items {
		@include adaptive-value-master('font-size', 16, 14, 1900, 1124, 1);
		padding-left: 18px;

		@include mq(xl) {
			font-size: 14px;
		}

		li {
			&:not(:last-child) {
				margin-bottom: 4px;
			}
		}
	}

	&__bg {
		@include bg-cover;
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		max-width: 242px;
		height: 100%;
		background-position: left;
		border-radius: 0 30px 30px 0;
		opacity: 0.3;

		@include mq(md) {
			right: 50%;
			max-width: 221px;
			height: 124px;
			background-position: center;
			background-size: contain;
			transform: translateX(50%);
		}
	}
}
