.other-models {
	@include adaptiv-value('padding-top', 60, 20, 1);
	background-color: $white;

	@include mq(xl) {
		padding-bottom: 45px;
	}

	&__title {
		@include adaptiv-value('margin-bottom', 20, 12, 1);
	}

	&__wrapper {
		margin-bottom: 20px;

		@include mq(xl) {
			margin-right: -20px;
		}
	}

	&__items {
		margin-bottom: 20px;
	}

	.other__button {
		background-color: $grey-200;
	}

	&__calc {
		display: none;

		@include mq(xl) {
			display: flex;
			width: 100%;
			font-size: 14px;
		}
	}
}
