.product-page {
    .product-card {
		&__content {
			@include mq(xl) {
				padding: 0 20px;
			}
		}

		&__info {
			justify-content: space-between;
			margin-right: 0;

			@include mq(xl) {
				align-items: center;
				margin-bottom: 0;
			}
		}

		&__name {
			@include mq(sm) {
				display: none;
			}
		}

        &__title {
            @include adaptiv-value('font-size', 30, 16, 1);
        }

		&__pay {
			justify-content: space-between;
			width: 49%;
			margin-left: 0;

			@include mq(xl) {
				flex-direction: column;
				align-items: flex-end;
			}

			@include mq(sm) {
				width: 100%;
			}
		}

		&__cost {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			width: 100%;
			max-width: 330px;

			@include mq(xl) {
				align-items: flex-end;
				margin-bottom: 10px;
			}

			@include mq(sm) {
				flex-direction: row-reverse;
				align-items: center;
				justify-content: space-between;
				max-width: 100%;
			}
		}

		&__prices {
			@include mq(sm) {
				margin-bottom: 0;
			}
		}

		&__subprice {
			@include mq(sm) {
				margin-right: 10px;
				text-align: left;
			}
		}

		&__set {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			width: 100%;
			max-width: 300px;

			@include mq(sm) {
				max-width: 100%;
			}
		}

		&__calc {
			white-space: nowrap;

			@include mq(xl) {
				display: none;
			}
		}

		&__link {
			display: none;
		}
	}
}