.product-page {
    @include adaptiv-value('padding-bottom', 60, 40, 1);
    
	&__title {
		display: none;

		@include mq(sm) {
			display: block;
		}
	}

	&__container {
		@include mq(xl) {
			padding: 0;
		}
	}
}
