.product-page {
	&__title {
		display: none;

		@include mq(sm) {
			display: block;
		}
	}

	&__container {
		@include mq(xl) {
			padding: 0;
		}
	}

	&__section {
		@include adaptiv-value('padding-top', 30, 20, 1);
		@include adaptiv-value('padding-bottom', 30, 20, 1);
	}
}
