.recommended-products {
	.tabs {
		&__nav {
			@include adaptiv-value('margin-bottom', 30, 12, 1);
			display: flex;
			width: 100%;
			overflow-x: auto;
		}

		&__nav-item {
			width: 100%;
			white-space: nowrap;

			&:not(:last-child) {
				margin-right: 10px;
			}
		}

		&__nav-btn {
			width: 100%;

			&--active {
				color: $white;
				background-color: $dark-800;
			}
		}

		&__panel {
			display: none;

			&--active {
				display: flex;
			}
		}
	}

	&__items {
		display: flex;
		width: 50%;
	}

	&__item {
		width: 50%;

		&:not(:last-child) {
			margin-right: 20px;
		}
	}
}
