.product-video {
	&__content {
		position: relative;
		padding-bottom: 45%;

        @include mq(md) {
            padding-bottom: 56%;
        }

		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			@include adaptiv-value('border-radius', 20, 10, 1);
		}
	}
}
