.drop-menu {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 6;
	display: none;
	width: 100%;
	max-height: 100%;
	padding-top: 100px;
	overflow-y: auto;

	&--active {
		display: block;

		@include mq(lg) {
			display: none;
		}
	}

	&__body {
		padding: 34px 0 60px;
		background-color: $white;
	}

	&__wrapper {
		display: flex;
		justify-content: space-between;
	}

	&__list {
		@include adaptiv-value('padding-right', 40, 10, 1);
		@include adaptiv-value('margin-right', 40, 10, 1);
		position: relative;
		padding-right: 40px;

		&::before {
			position: absolute;
			top: 0;
			right: 0;
			width: 1px;
			height: 100%;
			background-color: rgba($grey-600, 0.2);
			content: '';
		}
	}

	&__title {
		display: inline-block;
		margin-bottom: 20px;
	}

	&__item {
		&:not(:last-child) {
			margin-bottom: 15px;
		}
	}

	&__link {
		position: relative;
		font-size: 16px;
		transition: color 0.3s ease-in-out;

		&::before {
			@include bg-conatin;
			position: absolute;
			top: 7px;
			right: -20px;
			width: 10px;
			height: 10px;
			background-image: url('../img/sprite.svg#menu-arrow');
			transform: rotate(-90deg);
			opacity: 0;
			filter: invert(19%) sepia(31%) saturate(5680%) hue-rotate(342deg)
				brightness(110%) contrast(102%);
			transition: opacity 0.3s ease-in-out;
			content: '';
		}

		@media (any-hover: hover) {
			&:hover {
				color: $red-600;

				&::before {
					opacity: 1;
				}
			}
		}
	}

	&__recommendeds {
		display: flex;
		width: 100%;
		max-width: 720px;
	}

	&__recommended {
		width: 100%;

		&:not(:last-child) {
			margin-right: 20px;
		}
	}
}
