.hero-history {
	.hero-section {
		&__wrapper {
			@include adaptiv-value('border-radius', 30, 15, 1);
			background-color: $grey-200;

			@include mq(lg, min) {
				align-items: center;
				min-height: 610px;
			}

			@include mq(sm) {
				padding-bottom: 60px;
			}
		}

		&__content {
			@include mq(sm, min) {
				padding-right: 0;
			}

			@include mq(lg, min) {
				align-self: flex-start;
			}

			@include mq(sm) {
				padding-bottom: 10px;
			}

			.hero-section__inscription {
				display: none;
			}
		}

		&__image {
			width: 67%;
			height: 403px;
			padding: 50px 50px 0 0;

			@include mq(lg) {
				width: 55%;
				height: 237px;
				padding: 0;
			}

			@include mq(sm) {
				width: 100%;
				height: 155px;
				padding: 0 20px;
			}
		}

		&__bg {
			background-size: contain;
		}
	}
}
