.main-dates {
	@include adaptiv-value('padding-bottom', 100, 40, 1);

	&__title {
		text-align: center;
	}

	&__wrapper {
		position: relative;
		padding: 0 20px;

		&::before {
			@include mq(lg) {
				position: absolute;
				top: 0;
				left: 20px;
				width: 1px;
				height: 100%;
				background-color: rgba($black, 0.2);
				content: '';
			}
		}
	}

	&__container {
		display: flex;

		@include mq(lg) {
			flex-direction: column;
			padding: 0;
		}

		&--first {
			.main-dates__item {
				@include mq(lg, min) {
					display: flex;
					width: 45%;
				}

				&:nth-child(1) {
					@include mq(lg, min) {
						justify-content: flex-end;
					}
				}

				&:nth-child(2) {
					@include mq(lg, min) {
						justify-content: flex-start;
					}
				}
			}
		}
	}

	&__decor {
		@include mq(lg, min) {
			display: block;
			width: 100%;
			height: 1px;
			background-color: rgba($black, 0.2);
		}
	}

	&__content {
		position: relative;
		width: 100%;
		padding-left: 30px;

		@include mq(lg, min) {
			max-width: 390px;
		}

		&::before {
			position: absolute;
			top: 0;
			left: 60px;
			width: 1px;
			background-color: rgba($black, 0.2);
			content: '';

			@include mq(lg) {
				top: 30px;
				left: 0;
				width: 33px;
				height: 1px;
			}
		}

		&--top {
			@include mq(lg, min) {
				padding-bottom: 30px;
			}

			&::before {
				@include mq(lg, min) {
					height: 100%;
				}
			}
		}

		&--bottom {
			@include mq(lg, min) {
				padding-top: 80px;
			}

			&::before {
				@include mq(lg, min) {
					top: 0;
					height: 80px;
				}
			}
		}
	}
}
