.sort {
	display: flex;
	margin-bottom: 20px;

	&__item {
		cursor: pointer;

		&:not(:last-child) {
			@include adaptiv-value('margin-right', 20, 12, 1);
		}

		&--up,
		&--down {
			.sort__visible {
				padding-right: 14px;

				&::before {
					@include bg-conatin;
					top: 50%;
					right: 0;
					width: 6px;
					height: 14px;
					background-image: url('../img/icons/up.svg');
					transform: translateY(-50%);
				}
			}
		}

		&--down {
			.sort__visible {
				&::before {
					transform: rotate(180deg) translateY(50%);
				}
			}
		}

		&--hidden {
			display: none;
		}
	}

	&__hidden {
		@include hidden;

		&:checked + .sort__visible {
			color: $red-600;

			&::after {
				opacity: 1;
			}

			&::before {
				filter: invert(20%) sepia(61%) saturate(4441%) hue-rotate(347deg)
					brightness(81%) contrast(92%);
			}
		}
	}

	&__visible {
		position: relative;
		color: $dark-800;

		&::before,
		&::after {
			position: absolute;
			content: '';
		}

		&::after {
			bottom: 0;
			left: 0;
			width: 100%;
			height: 1px;
			border: 1px dashed $red-600;
			opacity: 0;
			transition: opacity 0.4s ease-in-out;
		}
	}
}
