.sort {
	display: flex;
	margin-bottom: 20px;

	&__item {
		cursor: pointer;

		&--normal {
			@include adaptiv-value('margin-right', 20, 12, 1);
		}

		&--up,
		&--down {
			.sort__visible {
				@include adaptiv-value('padding-right', 18, 12, 1);

				&::before {
					@include bg-conatin;
					@include adaptiv-value('height', 14, 10, 1);
					@include adaptiv-value('width', 14, 10, 1);
					top: 50%;
					right: 0;
					background-image: url('../img/icons/arrow-longer.svg');
					transform: translateY(-50%) rotate(90deg);
					filter: invert(89%) sepia(0%) saturate(3177%) hue-rotate(315deg)
						brightness(97%) contrast(80%);
				}
			}
		}

		&--down {
			.sort__visible {
				&::before {
					transform: rotate(-90deg) translateY(5%) translateX(50%);
				}
			}
		}

		&--hidden {
			display: none;
		}
	}

	&__hidden {
		@include hidden;

		&:checked + .sort__visible {
			color: $red-600;

			&::after {
				opacity: 1;
			}

			&::before {
				filter: invert(20%) sepia(61%) saturate(4441%) hue-rotate(347deg)
					brightness(81%) contrast(92%);
			}
		}
	}

	&__visible {
		@include adaptiv-value('font-size', 20, 12, 1);
		position: relative;
		color: $dark-800;

		&::before,
		&::after {
			position: absolute;
			content: '';
		}

		&::after {
			bottom: 0;
			left: 0;
			width: 100%;
			height: 1px;
			border: 1px dashed $red-600;
			opacity: 0;
			transition: opacity 0.4s ease-in-out;
		}
	}
}
