<article class="product-card">
    <div class="product-card__images">
        <button class="favorite-button" type="button" aria-label="Добавить в избранное">
            <svg class="favorite-button__icon">
                <use xlink:href="img/sprite.svg#favorite">
            </svg>
        </button>
        <picture>
            <source srcset="img/product/1.avif" type="image/avif">
            <source srcset="img/product/1.webp" type="image/webp">
            <img class="product-card__img" src="img/product/1.jpg" alt="Фото 1" width="1360" height="660" loading="lazy">
        </picture>
        <a class="product-card__link-hide" href="#">Кастелло Лайт</a>
    </div>

    <div class="product-card__content">
        <div class="product-card__info">
            <div class="product-card__name">
                <h3 class="product-card__title">
                    <a href="#">Кастелло Лайт</a>
                </h3>
                <p class="product-card__subtitle">Фасад из Массива ясеня (Италия)</p>
            </div>
            <div class="product-card__pay">
                <div class="product-card__cost">
                    <div class="product-card__price product-price">
                        <span class="product-price__current">
                            200 999 ₽
                        </span>
                        <span class="product-price__old">
                            20 999 ₽
                        </span>
                    </div>
                    <p class="product-card__subprice">Цена за всю кухню на фото</p>
                </div>
            </div>
        </div>
    </div>
</article>