<article class="preview-model">
    <a class="preview-model__image" href="#">
        <picture>
           <source srcset="img/product/@img.avif" type="image/avif">
           <source srcset="img/product/@img.webp" type="image/webp">
           <img class="preview-model__img" src="img/product/@img.jpg" alt="Модель 1" width="436" height="233" loading="lazy">
        </picture>
    </a>
    <div class="product-price">
        <span class="product-price__current">200 999 ₽</span>
        <span class="product-price__old">200 999 ₽</span>
    </div>
</article>