<article class="product-card">
    <div class="product-card__images">
        <div class="product-card__main slider-main">
            <button class="favorite-button" type="button" aria-label="Добавить в избранное">
                <svg class="favorite-button__icon">
                    <use xlink:href="img/sprite.svg#favorite">
                </svg>
            </button>
            <ul class="product-card__swiper swiper-wrapper">
                <li class="product-card__big swiper-slide">
                    <picture>
                        <source srcset="img/product/1.avif" type="image/avif">
                        <source srcset="img/product/1.webp" type="image/webp">
                        <img class="product-card__img" src="img/product/1.jpg" alt="Фото 1" width="1360" height="660" loading="lazy">
                    </picture>
                </li>
                @if(typeof slider !== 'undefiend' && context.slider === 'true') {
                <li class="product-card__big swiper-slide">
                    <picture>
                        <source srcset="img/product/2.avif" type="image/avif">
                        <source srcset="img/product/2.webp" type="image/webp">
                        <img class="product-card__img" src="img/product/2.jpg" alt="Фото 1" width="1360" height="660" loading="lazy">
                    </picture>
                </li>
                <li class="product-card__big swiper-slide">
                    <picture>
                        <source srcset="img/product/1.avif" type="image/avif">
                        <source srcset="img/product/1.webp" type="image/webp">
                        <img class="product-card__img" src="img/product/1.jpg" alt="Фото 1" width="1360" height="660" loading="lazy">
                    </picture>
                </li>
                <li class="product-card__big swiper-slide">
                    <picture>
                        <source srcset="img/product/2.avif" type="image/avif">
                        <source srcset="img/product/2.webp" type="image/webp">
                        <img class="product-card__img" src="img/product/2.jpg" alt="Фото 1" width="1360" height="660" loading="lazy">
                    </picture>
                </li>
                <li class="product-card__big swiper-slide">
                    <picture>
                        <source srcset="img/product/1.avif" type="image/avif">
                        <source srcset="img/product/1.webp" type="image/webp">
                        <img class="product-card__img" src="img/product/1.jpg" alt="Фото 1" width="1360" height="660" loading="lazy">
                    </picture>
                </li>
                <li class="product-card__big swiper-slide">
                    <picture>
                        <source srcset="img/product/2.avif" type="image/avif">
                        <source srcset="img/product/2.webp" type="image/webp">
                        <img class="product-card__img" src="img/product/2.jpg" alt="Фото 1" width="1360" height="660" loading="lazy">
                    </picture>
                </li>
                <li class="product-card__big swiper-slide">
                    <picture>
                        <source srcset="img/product/1.avif" type="image/avif">
                        <source srcset="img/product/1.webp" type="image/webp">
                        <img class="product-card__img" src="img/product/1.jpg" alt="Фото 1" width="1360" height="660" loading="lazy">
                    </picture>
                </li>
                <li class="product-card__big swiper-slide">
                    <picture>
                        <source srcset="img/product/2.avif" type="image/avif">
                        <source srcset="img/product/2.webp" type="image/webp">
                        <img class="product-card__img" src="img/product/2.jpg" alt="Фото 1" width="1360" height="660" loading="lazy">
                    </picture>
                </li>
                <li class="product-card__big swiper-slide">
                    <picture>
                        <source srcset="img/product/1.avif" type="image/avif">
                        <source srcset="img/product/1.webp" type="image/webp">
                        <img class="product-card__img" src="img/product/1.jpg" alt="Фото 1" width="1360" height="660" loading="lazy">
                    </picture>
                </li>
                <li class="product-card__big swiper-slide">
                    <picture>
                        <source srcset="img/product/2.avif" type="image/avif">
                        <source srcset="img/product/2.webp" type="image/webp">
                        <img class="product-card__img" src="img/product/2.jpg" alt="Фото 1" width="1360" height="660" loading="lazy">
                    </picture>
                </li>
                }
            </ul>
            @if(typeof slider !== 'undefiend' && context.slider === 'true') {
            <button class="product-card__button product-card__button--prev swiper-button-prev arrow-button arrow-button--left" type="button"></button>
            <button class="product-card__button product-card__button--next swiper-button-next arrow-button" type="button"></button>
            <div class="swiper-pagination"></div>
            }
        </div>
        @if(typeof slider !== 'undefiend' && context.slider === 'true') {
        <div class="product-card__small slider-nav">
            <ul class="product-card__previews swiper-wrapper">
                <li class="product-card__thumb swiper-slide">
                    <picture>
                        <source srcset="img/product/1.avif" type="image/avif">
                        <source srcset="img/product/1.webp" type="image/webp">
                        <img class="product-card__preview" src="img/product/1.jpg" alt="Фото 1" width="110" height="70" loading="lazy">
                    </picture>
                </li>
                <li class="product-card__thumb swiper-slide">
                    <picture>
                        <source srcset="img/product/2.avif" type="image/avif">
                        <source srcset="img/product/2.webp" type="image/webp">
                        <img class="product-card__preview" src="img/product/2.jpg" alt="Фото 1" width="110" height="70" loading="lazy">
                    </picture>
                </li>
                <li class="product-card__thumb swiper-slide">
                    <picture>
                        <source srcset="img/product/1.avif" type="image/avif">
                        <source srcset="img/product/1.webp" type="image/webp">
                        <img class="product-card__preview" src="img/product/1.jpg" alt="Фото 1" width="110" height="70" loading="lazy">
                    </picture>
                </li>
                <li class="product-card__thumb swiper-slide">
                    <picture>
                        <source srcset="img/product/2.avif" type="image/avif">
                        <source srcset="img/product/2.webp" type="image/webp">
                        <img class="product-card__preview" src="img/product/2.jpg" alt="Фото 1" width="110" height="70" loading="lazy">
                    </picture>
                </li>
                <li class="product-card__thumb swiper-slide">
                    <picture>
                        <source srcset="img/product/1.avif" type="image/avif">
                        <source srcset="img/product/1.webp" type="image/webp">
                        <img class="product-card__preview" src="img/product/1.jpg" alt="Фото 1" width="110" height="70" loading="lazy">
                    </picture>
                </li>
                <li class="product-card__thumb swiper-slide">
                    <picture>
                        <source srcset="img/product/2.avif" type="image/avif">
                        <source srcset="img/product/2.webp" type="image/webp">
                        <img class="product-card__preview" src="img/product/2.jpg" alt="Фото 1" width="110" height="70" loading="lazy">
                    </picture>
                </li>
                <li class="product-card__thumb swiper-slide">
                    <picture>
                        <source srcset="img/product/1.avif" type="image/avif">
                        <source srcset="img/product/1.webp" type="image/webp">
                        <img class="product-card__preview" src="img/product/1.jpg" alt="Фото 1" width="110" height="70" loading="lazy">
                    </picture>
                </li>
                <li class="product-card__thumb swiper-slide">
                    <picture>
                        <source srcset="img/product/2.avif" type="image/avif">
                        <source srcset="img/product/2.webp" type="image/webp">
                        <img class="product-card__preview" src="img/product/2.jpg" alt="Фото 1" width="110" height="70" loading="lazy">
                    </picture>
                </li>
                <li class="product-card__thumb swiper-slide">
                    <picture>
                        <source srcset="img/product/1.avif" type="image/avif">
                        <source srcset="img/product/1.webp" type="image/webp">
                        <img class="product-card__preview" src="img/product/1.jpg" alt="Фото 1" width="110" height="70" loading="lazy">
                    </picture>
                </li>
                <li class="product-card__thumb swiper-slide">
                    <picture>
                        <source srcset="img/product/2.avif" type="image/avif">
                        <source srcset="img/product/2.webp" type="image/webp">
                        <img class="product-card__preview" src="img/product/2.jpg" alt="Фото 1" width="110" height="70" loading="lazy">
                    </picture>
                </li>
            </ul>
        </div>
        }
    </div>

    <div class="product-card__content">
        <div class="product-card__info">
            <div class="product-card__name">
                <h3 class="product-card__title">Кастелло Лайт</h3>
                <p class="product-card__subtitle">Фасад из Массива ясеня (Италия)</p>
                <a class="product-card__more" href="#">Подробнее о модели</a>
            </div>
            <div class="product-card__pay">
                <div class="product-card__cost">
                    <ul class="product-card__prices">
                        <li class="product-card__price product-price product-card__price--active" data-price="1">
                            <span class="product-price__current">
                                200 999 ₽
                            </span>
                            <span class="product-price__old">
                                200 999 ₽
                            </span>
                        </li>
                        @if(typeof slider !== 'undefiend' && context.slider === 'true') {
                        <li class="product-card__price product-price" data-price="2">
                            <span class="product-price__current">
                                2
                            </span>
                            <span class="product-price__old">
                                2
                            </span>
                        </li>
                        <li class="product-card__price product-price" data-price="3">
                            <span class="product-price__current">
                                3
                            </span>
                            <span class="product-price__old">
                                3
                            </span>
                        </li>
                        <li class="product-card__price product-price" data-price="4">
                            <span class="product-price__current">
                                4
                            </span>
                            <span class="product-price__old">
                                4
                            </span>
                        </li>
                        <li class="product-card__price product-price" data-price="5">
                            <span class="product-price__current">
                                5
                            </span>
                            <span class="product-price__old">
                                5
                            </span>
                        </li>
                        <li class="product-card__price product-price" data-price="6">
                            <span class="product-price__current">
                                6
                            </span>
                            <span class="product-price__old">
                                6
                            </span>
                        </li>
                        <li class="product-card__price product-price" data-price="7">
                            <span class="product-price__current">
                                7
                            </span>
                            <span class="product-price__old">
                                7
                            </span>
                        </li>
                        <li class="product-card__price product-price" data-price="8">
                            <span class="product-price__current">
                                8
                            </span>
                            <span class="product-price__old">
                                8
                            </span>
                        </li>
                        <li class="product-card__price product-price" data-price="9">
                            <span class="product-price__current">
                                9
                            </span>
                            <span class="product-price__old">
                                9
                            </span>
                        </li>
                        <li class="product-card__price product-price" data-price="10">
                            <span class="product-price__current">
                                10
                            </span>
                            <span class="product-price__old">
                                10
                            </span>
                        </li>
                        }
                    </ul>
                    <p class="product-card__subprice">Цена за всю кухню на фото</p>
                </div>
                <div class="product-card__set">
                    <div class="product-card__kit">
                        <button class="product-card__question">
                            <span class="product-card__subbutton">
                                Что входит в стоимость?
                            </span>
                        </button>
                        <div class="product-kit">
                            <ul class="product-kit__items">
                                <li class="product-kit__item">
                                    <picture class="product-kit__img">
                                        <source srcset="img/product-kit/1.avif" type="image/avif">
                                        <source srcset="img/product-kit/1.webp" type="image/webp">
                                        <img src="img/product-kit/1.png" alt="Корпуса" width="40" height="40" loading="lazy">
                                    </picture>
                                    <p class="product-kit__text">
                                        Корпуса 18мм и фасады, системы крепления Camar
                                    </p>
                                </li>
                                <li class="product-kit__item">
                                    <picture class="product-kit__img">
                                        <source srcset="img/product-kit/2.avif" type="image/avif">
                                        <source srcset="img/product-kit/2.webp" type="image/webp">
                                        <img src="img/product-kit/2.png" alt="Вся фурнитура" width="40" height="40" loading="lazy">
                                    </picture>
                                    <p class="product-kit__text">
                                        Вся фурнитура, петли доводчиками, полкодержатели
                                    </p>
                                </li>
                                <li class="product-kit__item">
                                    <picture class="product-kit__img">
                                        <source srcset="img/product-kit/3.avif" type="image/avif">
                                        <source srcset="img/product-kit/3.webp" type="image/webp">
                                        <img src="img/product-kit/3.png" alt="Сушка" width="40" height="40" loading="lazy">
                                    </picture>
                                    <p class="product-kit__text">
                                        Сушка, Поддон и царги под мойкой и вар. панелью
                                    </p>
                                </li>
                                <li class="product-kit__item">
                                    <picture class="product-kit__img">
                                        <source srcset="img/product-kit/4.avif" type="image/avif">
                                        <source srcset="img/product-kit/4.webp" type="image/webp">
                                        <img src="img/product-kit/4.png" alt="Сборка и гарантия" width="40" height="40" loading="lazy">
                                    </picture>
                                    <p class="product-kit__text">
                                        Сборка на производстве и Гарантия 8 лет
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <button class="product-card__calc button" type="button">
                        Рассчитать по своим размерам
                    </button>
                </div>
            </div>
        </div>
        <a class="product-card__link button" href="#">Подробнее о модели</a>
    </div>
</article>