@if(context.type === 'normal') {
<aricle class="recommended-product">

    <div class="recommended-product__image">
        @if(context.badge === 'dark') {
        <span class="recommended-product__badge recommended-product__badge--dark">
            Вариант на фото
        </span>
        }
        
        @if(context.badge === 'base') {
        <span class="recommended-product__badge">
            Базовый вариант
        </span>
        }
        <picture>
            <source srcset="img/recommended/@img.avif" type="image/avif">
            <source srcset="img/recommended/@img.webp" type="image/webp">
            <img class="recommended-product__img" src="img/recommended/@img.png" alt="Рекомндуемый товар 1" width="325" height="260" loading="lazy">
        </picture>
    </div>
    <div class="recommended-product__content">
        <div class="recommended-product__descr">
            <h3 class="recommended-product__title">@title</h3>
            <p class="recommended-product__text">@subtext</p>
            <div class="product-price">
                <span class="product-price__current">
                    95 000 ₽
                </span>
                @if(context.old === 'true') {
                <span class="product-price__old">
                    109 999 ₽
                </span>
                }
            </div>
        </div>
        <form action="#">
            <label class="recommended-product__add">
                <input class="checkbox-hidden" type="checkbox" name="add">
                <span class="checkbox-visible" aria-hidden="true"></span>
                Добавлено к общей стоимости
            </label>
        </form>
    </div>
</aricle>
}

@if(context.type === 'technique') {
<aricle class="recommended-product recommended-product--technique">
    <div class="recommended-product__image">
        @if(context.badge === 'photo') {
            <picture>
                <source srcset="img/recommended/label.avif" type="image/avif">
                <source srcset="img/recommended/label.webp" type="image/webp">
                <img class="recommended-product__label" src="img/recommended/label.png" alt="simfer" width="57" height="24" loading="lazy">
            </picture>
        }
        <picture>
            <source srcset="img/recommended/@img.avif" type="image/avif">
            <source srcset="img/recommended/@img.webp" type="image/webp">
            <img class="recommended-product__img" src="img/recommended/@img.png" alt="Рекомндуемый товар 1" width="325" height="200" loading="lazy">
        </picture>
    </div>
    <div class="recommended-product__content">
        <div class="recommended-product__descr">
            <h3 class="recommended-product__title">@title</h3>
            <ol class="recommended-product__text">
                <li>Варочная поверхность</li>
                <li>Духовой шкаф</li>
                <li>Посудомоечна машина</li>
            </ol>
            <div class="product-price">
                <span class="product-price__current">
                    95 000 ₽
                </span>
                @if(context.old === 'true') {
                <span class="product-price__old">
                    109 999 ₽
                </span>
                }
            </div>
        </div>
        <form action="#">
            <label class="recommended-product__add">
                <input class="checkbox-hidden" type="checkbox" name="add">
                <span class="checkbox-visible" aria-hidden="true"></span>
                Добавлено к общей стоимости
            </label>
        </form>
    </div>

</aricle>
}