.header-user {
	display: flex;
	align-items: center;

	&__favorite,
	&__call {
		padding: 15px;
		font-size: 15px;
		white-space: nowrap;
	}

	&__favorite {
		position: relative;
		margin-right: 8px;
		color: $dark-800;
		font-weight: $fw-600;
		background-color: $grey-200;
		border-radius: 1000px;
		@include flex-all-center;

		@include mq(xl) {
			width: 36px;
			height: 36px;
			padding: 6px;
			font-size: 0;
		}
	}

	&__icon {
		@include adaptiv-value('width', 22, 14, 1);
		@include adaptiv-value('height', 22, 14, 1);
		@include bg-conatin;
		margin-right: 6px;
		background-image: url('../img/icons/heart.svg');
		filter: invert(83%) sepia(46%) saturate(5102%) hue-rotate(345deg)
			brightness(103%) contrast(94%);
		content: '';
	}
}
