.main-advantages {
	@include adaptiv-value('padding-top', 100, 40, 1);
	@include adaptiv-value('padding-bottom', 80, 20, 1);

	&__header {
		width: 100%;
		@include adaptiv-value('margin-bottom', 40, 20, 1);

		@include mq(lg, min) {
			max-width: 1015px;
		}
	}

	&__title {
		@include adaptiv-value('margin-bottom', 15, 10, 1);
	}

	&__text {
		@include adaptiv-value('font-size', 20, 12, 1);
	}

	&__items {
		position: relative;
		display: flex;
		padding-bottom: 20px;
		overflow-x: auto;
		@include adaptiv-value('gap', 20, 15, 1);
	}

	&__item {
		@include adaptiv-value('flex-basis', 170, 130, 1);
		position: relative;
		flex-shrink: 0;

		&::before {
			position: absolute;
			right: 0;
			z-index: 0;
			width: calc(100% + 20px);
			height: 1px;
			background-color: rgba($grey-600, 0.4);
			content: '';
			@include adaptiv-value('top', 32, 25, 1);
		}
	}

	&__icon {
		@include bg-conatin;
		@include adaptiv-value('width', 60, 50, 1);
		@include adaptiv-value('height', 60, 50, 1);
		@include adaptiv-value('background-size', 28, 24, 1);
		position: relative;
		z-index: 2;
		display: block;
		margin-bottom: 20px;
		background-color: $white;
		border: 1px solid rgba($grey-600, 0.2);
		border-radius: 50%;
	}

	&__subtitle {
		@include adaptiv-value('font-size', 16, 12, 1);
		color: $black;
	}
}
