.approach {
	padding: 25px 0 34px;
	background-color: $grey-200;

    &::before {
        @include adaptiv-value('bottom', -40, 0, 1);
        transform: translateX(-50%);
    }

	@include mq(lg) {
		padding: 40px 0 90px;
	}

	@include mq(sm) {
		padding: 40px 0;
	}

	&__wrapper {
		@include flex-center-sb;

		@include mq(lg) {
			flex-direction: column;
		}
	}

	&__content {
		width: 100%;
		max-width: 720px;
		margin-right: 20px;

        @include mq(lg) {
			max-width: 100%;
            margin-right: 0;
            margin-bottom: 40px;
		}

        @include mq(sm) {
            margin-bottom: 20px;
        }
	}

	&__title {
		@include adaptiv-value('margin-bottom', 15, 10, 1);
	}

	&__text {
		color: $grey-600;
		@include adaptiv-value('margin-bottom', 40, 15, 1);
		@include adaptiv-value('font-size', 20, 12, 1);
	}

	&__items {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 25px;

        @include mq(md) {
            grid-template-columns: 1fr;
            gap: 15px;
        }
	}

	&__image {
		position: relative;
		width: 100%;
		max-width: 600px;
		padding-bottom: 47%;

        @include mq(sm) {
            padding-bottom: 73%;
        }
	}

	&__bg {
		@include resize-bg;
		background-size: contain;
	}
}
