.home-hero {
	@include adaptiv-value('padding-top', 10, 20, 1);
	@include adaptiv-value('padding-bottom', 60, 40, 1);
	padding-right: 35px;
	padding-left: 35px;

	@include mq(lg) {
		padding-right: 0;
		padding-left: 0;
	}

	&__mobile {
		display: none;

		@include mq(lg) {
			display: block;
		}
	}

	&__wrapper {
		position: relative;
		padding: 23px 0 87px;
		background-image: linear-gradient(
			91.58deg,
			rgba(243, 243, 245, 0.95) 16.9%,
			rgba(226, 226, 228, 0.95) 68.85%
		);
		border-radius: 30px;

		&::before,
		&::after {
			position: absolute;
			left: 0;
			width: 100%;
			content: '';
			@include bg-cover;
		}

		&::before {
			top: 5px;
			height: 100%;
			background-image: url('../img/home-hero/bg.png');
			border-radius: inherit;

			@include mq(lg) {
				@include adaptiv-value('height', 630, 264, 1);
				top: 0;
			}

			@include mq(sm) {
				height: 320px;
			}
		}

		&::after {
			bottom: 0;
			background-image: url('../img/home-hero/bottom-bg.svg');
			background-size: contain;
			transform: translateY(50%);
			@include adaptiv-value('height', 62, 40, 1);
		}

		@include mq(lg) {
			padding: 10px 0 88px;
			border-radius: 0;
		}

		@include mq(sm) {
			padding: 33px 0 69px;
		}
	}

	&__container {
		position: relative;
		z-index: 1;
	}

	&__inner {
		@include flex-center-sb;

		@include mq(lg) {
			justify-content: center;
		}
	}

	&__content {
		width: 100%;
		max-width: 524px;
		margin-right: 20px;

		@include mq(lg) {
			display: none;
		}
	}

	&__box {
		@include adaptiv-value('margin-bottom', 40, 20, 1);

		@include mq(lg) {
			display: none;
		}

		&--mobile {
			@include mq(lg) {
				display: block;
			}
		}
	}

	&__title {
		margin-bottom: 12px;
	}

	&__text {
		@include adaptiv-value('font-size', 20, 12, 1);

		p {
			&:not(:last-child) {
				margin-bottom: 4px;
			}
		}
	}

	&__calc {
		white-space: nowrap;
		@include adaptiv-value('font-size', 16, 10, 1);

		@include mq(lg) {
			display: none;
		}

		&--mobile {
			display: none;

			@include mq(lg) {
				display: flex;
				width: 100%;
			}
		}
	}

	&__info {
		position: relative;

		@include mq(lg) {
			display: flex;
			flex-direction: column;
		}
	}

	&__middle {
		position: absolute;
		bottom: -40px;
		left: 0;
		z-index: 2;

		@include mq(lg) {
			position: relative;
			bottom: unset;
			left: unset;
			width: 100%;
		}
	}

	&__descr {
		width: 223px;
		height: 223px;
		padding: 40px;
		text-align: center;
		background-color: $white;
		border-radius: 100%;
		@include flex-column-all-center;

		@include mq(lg) {
			flex-direction: row;
			justify-content: space-between;
			width: 100%;
			height: auto;
			margin-bottom: 10px;
			padding: 23px 30px;
			border-radius: 15px;
		}

		@include mq(sm) {
			flex-direction: column;
			justify-content: flex-start;
			padding: 15px;
		}
	}

	&__subtitle {
		margin-bottom: 5px;
		color: $black;
		font-weight: $fw-700;
		font-size: 16px;

		@include mq(lg) {
			margin-right: 10px;
			margin-bottom: 0;
		}

		@include mq(lg) {
			margin-right: 0;
			margin-bottom: 5px;
		}
	}

	.product-price {
		@include flex-column-v-center;
		margin-bottom: 10px;

		@include mq(lg) {
			flex-direction: row;
			justify-content: flex-end;
			margin-bottom: 2px;
		}

		@include mq(sm) {
			justify-content: center;
		}

		&__current {
			color: $red-600;
			@include adaptiv-value('font-size', 20, 16, 1);

			&:not(:last-child) {
				margin-right: 0;
				margin-bottom: 3px;

				@include mq(lg) {
					margin-right: 4px;
					margin-bottom: 0;
				}
			}
		}
	}

	&__subtext {
		color: $dark-800;
		@include adaptiv-value('font-size', 16, 12, 1);
	}

	&__arrow {
		position: absolute;
		right: 10px;
		bottom: 10px;
		width: 45px;
		height: 45px;
		background-color: $dark-800;
		border-radius: 50%;

		&::before {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 20px;
			height: 20px;
			background-image: url('../img/sprite.svg#arrow-longer');
			transform: translate(-50%, -50%);
			content: '';
			@include bg-conatin;
		}

		@include mq(lg) {
			display: none;
		}
	}

	&__slider {
		position: relative;
		@include adaptiv-value('padding-left', 60, 20, 1);
		@include adaptiv-value('padding-right', 60, 20, 1);

		@include mq(lg) {
			display: flex;
			flex-direction: column-reverse;
			width: 100%;
			margin-bottom: 40px;
		}
	}

	&__swiper {
		position: static;
		max-width: 670px;
		@include adaptiv-value('max-width', 670, 285, 1);
		@include adaptiv-value('height', 544, 231, 1);
	}

	&__item {
		width: 100%;
	}

	&__img {
		width: 100%;
		height: 100%;
		object-fit: contain;
		filter: drop-shadow(0 6px 15px rgba($black, 0.25));
	}

	&__button {
		position: absolute;
		background-color: $grey-200;
		border: 1px solid $grey-600;

		&--prev {
			left: 0;
		}

		&--next {
			right: 0;
		}

		&::after {
			filter: invert(0);
			@include adaptiv-value('width', 24, 14, 1);
			@include adaptiv-value('height', 24, 14, 1);
		}
	}

	.swiper-pagination {
		bottom: -25px;

		.swiper-pagination-bullet {
			width: 10px;
			height: 10px;
			background-color: transparent;
			border: 1px solid $grey-600;
		}

		.swiper-pagination-bullet-active {
			background-color: $grey-600;
		}
	}
}
