.simple-products {

	&__wrapper {
		position: relative;
		@include adaptiv-value('padding-bottom', 40, 20, 1);
	}

	&__swiper {
		position: static;

        @include mq(md) {
            margin-right: -15px;
        }
	}

	&__button {
		position: absolute;
		top: 50%;
		background-color: $grey-200;
		transform: translate(-50%, -100%);

		&::after {
			filter: invert(0);
		}

		&--next {
			right: 0;
			transform: translate(50%, -100%);
		}

		&--prev {
			left: 0;
		}

		@include mq(lg) {
			display: none;
		}
	}

	&__pagination {
		display: flex;
		justify-content: center;

		.swiper-pagination-bullet {
			width: 10px;
			height: 10px;
			background-color: transparent;
			border: 1px solid rgba($black, 0.4);
			transition: background-color 0.3s ease-in-out;
		}

		.swiper-pagination-bullet-active {
			background-color: rgba($black, 0.4);
			border-color: transparent;
		}

		@include mq(lg) {
			display: none;
		}
	}

	&__scrollbar {
		position: absolute;
		bottom: 0;
		left: 0;
		display: none;
		width: 100%;
		height: 1.5px;
		background-color: $grey-200;

		@include mq(lg) {
			display: block;
		}

		.swiper-scrollbar-drag {
			height: 3px;
		}
	}

	.product-card {
		&__images {
			padding-bottom: 61.5%;
		}

		&__img {
			position: absolute;
			top: 0;
			left: 0;

            @include mq(xl) {
                border-radius: 10px;
            }
		}

        &__name {
            max-width: 190px;
            margin-right: 10px;
        }

		&__title {
			color: $black;
			font-size: 16px;
		}

		&__subtitle,
		&__subprice {
			@include adaptiv-value('font-size', 16, 12, 1);
		}

		&__subprice {
			color: rgba($black, 0.6);
		}

        &__cost,
        &__info {
            margin-right: 0;
        }

		.product-price {
			display: flex;

			&__current {
				color: $red-600;

				&:not(:last-child) {
					margin-right: 10px;
				}
			}

            &__old {
                font-size: 12px;
                opacity: 0.5;
            }
		}
	}
}
