.product-card {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;

	&__images {
		@include adaptiv-value('margin-bottom', 20, 10, 1);
		position: relative;
		width: 100%;
		padding-bottom: 48.5%;
		overflow: hidden;

		@media (any-hover: hover) {
			&:hover {
				.product-card__small {
					bottom: 10px;
				}
			}
		}
	}

	&__main {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		height: 100%;
	}

	.favorite-button {
		top: 30px;
		right: 30px;
		width: 60px;
		height: 60px;

		@include mq(xl) {
			top: 10px;
			right: 12px;
			width: 32px;
			height: 32px;
		}

		@include mq(md) {
			right: 24px;
		}

		&__icon {
			width: 28px;
			height: 28px;

			@include mq(xl) {
				width: 15px;
				height: 15px;
			}
		}
	}

	&__small,
	&__button {
		z-index: 5;
	}

	&__img,
	&__preview {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__img {
		border-radius: 20px;

		@include mq(xl) {
			border-radius: 0;
		}
	}

	&__small {
		position: absolute;
		bottom: 10px;
		left: 50%;
		width: 100%;
		max-width: 1100px;
		padding: 10px;
		overflow: hidden;
		background: $white;
		border-radius: 8px;
		box-shadow: 0 4px 30px rgba($dark-800, 0.3);
		transform: translateX(-50%);

		@media (any-hover: hover) {
			bottom: -50px;
			transition: bottom 0.4s ease-out;
		}

		@include mq(xl) {
			display: none;
		}
	}

	&__previews {
		display: flex;
	}

	&__thumb {
		position: relative;
		width: 111px;
		height: 70px;
		cursor: pointer;

		&::before {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba($white, 0.75);
			border-radius: 4px;
			transition: background-color 0.4s;
			content: '';
		}
	}

	.product-card__thumb.swiper-slide-thumb-active {
		&::before {
			background-color: transparent;
		}
	}

	&__button {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);

		@include mq(xl) {
			width: 28px;
			height: 28px;
		}

		&::after {
			@include mq(xl) {
				width: 12px;
				height: 12px;
			}
		}

		&--next {
			right: 30px;

			@include mq(xl) {
				right: 12px;
			}

			@include mq(sm) {
				right: 24px;
			}
		}

		&--prev {
			left: 30px;

			@include mq(xl) {
				left: 12px;
			}

			@include mq(sm) {
				left: 24px;
			}
		}
	}

	.swiper-pagination {
		bottom: 10px;
		left: 50%;
		z-index: 5;
		display: none;
		justify-content: center;
		width: auto;
		padding: 4px 7px;
		background-color: rgba($white, 0.3);
		border-radius: 100px;
		transform: translateX(-50%);
		backdrop-filter: blur(4px);

		@include mq(xl) {
			display: flex;
		}
	}

	.swiper-pagination-bullet {
		width: 7px;
		height: 7px;
		background-color: transparent;
		border: 1px solid rgba($white, 0.4);
		transition:
			background-color 0.3s ease-in-out,
			border-color 0.3s ease-in-out,
			width 0.3s ease-in-out,
			height 0.3s ease-in-out;
	}

	.swiper-pagination-bullet-active {
		width: 8px;
		height: 8px;
		background-color: $white;
		border-color: transparent;
	}

	&__preview,
	&__thumb {
		border-radius: 4px;
	}

	&__content,
	&__info,
	&__pay {
		display: flex;
		align-items: center;

		@include mq(xl) {
			align-items: flex-start;
		}
	}

	&__content {
		@include mq(xl) {
			flex-direction: column;
		}
	}

	&__info {
		width: 100%;
		margin-right: 20px;

		@include mq(xl) {
			margin-right: 0;
			margin-bottom: 10px;
		}
	}

	&__name {
		width: 100%;
		max-width: 330px;
		margin-right: 20px;

		@include mq(xl) {
			max-width: 100%;
			margin-right: 10px;
		}
	}

	&__name,
	&__pay {
		@include mq(xl) {
			width: 50%;
		}
	}

	&__title,
	&__prices {
		@include adaptiv-value('margin-bottom', 5, 2, 1);
	}

	&__subtitle,
	&__title,
	&__question {
		color: $dark-800;
	}

	&__title {
		font-weight: $fw-700;
	}

	&__subtitle {
		font-size: 20px;
		line-height: 1.1;

		@include mq(xl) {
			font-size: 12px;
		}
	}

	&__more {
		display: none;
	}

	&__pay {
		margin-left: auto;

		@include mq(xl) {
			align-items: flex-start;
			margin-left: 0;
		}
	}

	&__cost {
		width: 100%;
		max-width: 250px;
		margin-right: 30px;

		@include mq(xl) {
			max-width: 100%;
			margin-right: 0;
			text-align: right;
		}
	}

	&__prices {
		@include mq(xl) {
			display: flex;
			justify-content: flex-end;
		}
	}

	&__price {
		display: none;
		flex-wrap: wrap;
		align-items: center;
		justify-content: flex-end;
		font-weight: $fw-600;
		white-space: nowrap;

		&--active {
			display: flex;
		}
	}

	&__subprice {
		font-size: 16px;

		@include mq(xl) {
			font-size: 12px;
		}
	}

	&__set {
		@include mq(xl) {
			display: none;
		}
	}

	&__kit {
		position: relative;

		&:not(:last-child) {
			margin-bottom: 15px;
		}
	}

	&__question {
		@include adaptiv-value('font-size', 16, 12, 1);
		@include adaptiv-value('padding-right', 44, 35, 1);
		position: relative;
		font-weight: $fw-600;

		&::before {
			@include adaptiv-value('width', 32, 27, 1);
			@include adaptiv-value('height', 32, 27, 1);
			@include adaptiv-value('font-size', 18, 14, 1);
			position: absolute;
			top: 50%;
			right: 0;
			color: $red-600;
			font-weight: $fw-600;
			line-height: 1.6;
			border: 1px solid $red-600;
			border-radius: 50%;
			transform: translateY(-50%);
			content: '?';
		}
	}

	&__subbutton {
		position: relative;
		padding-bottom: 3px;
		white-space: nowrap;

		&::before {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 1px;
			border: 1px dashed $dark-800;
			content: '';
		}
	}

	&__link {
		flex-shrink: 0;
		padding: 14px 25px;

		@include mq(xl) {
			width: 100%;
			padding: 10px 25px;
			font-weight: $fw-400;
			font-size: 10px;
		}
	}
}
