.product-today {
	position: relative;
	width: 100%;
	height: 100%;

	&__image {
		position: relative;
		height: 360px;
		background-color: $white;
		border-radius: 15px;
		@include adaptiv-value('margin-bottom', 15, 12, 1);

		&--gradient {
			&::before {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-image: linear-gradient(
					317.69deg,
					rgba($black, 0) 32.99%,
					rgba($black, 0.56) 100%
				);
				border-radius: inherit;
				content: '';
			}
		}
	}

	&__label {
		position: absolute;
		top: 12px;
		left: 12px;
		padding: 6px 22px;
		font-weight: $fw-600;
		border-radius: 100px;
		@include adaptiv-value('font-size', 16, 12, 1);

		&--light {
			color: $dark-800;
			background-color: $grey-200;
		}

		&--dark {
			color: $white;
			background-color: $dark-800;
		}
	}

	&__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 15px;
	}

	&__title {
		color: $black;
		font-weight: $fw-600;
		@include adaptiv-value('font-size', 20, 14, 1);
		@include adaptiv-value('margin-bottom', 5, 2, 1);
	}

	&__link {
		&::before {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			width: 100%;
			height: 100%;
			content: '';
		}
	}

	&__subtitle {
		color: $dark-800;
		@include adaptiv-value('font-size', 16, 12, 1);
	}

	&__arrow {
		position: relative;
		width: 100%;
		max-width: 38px;
		height: 38px;
		background-color: $white;
		border-radius: 50%;

		&::before {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 12px;
			height: 12px;
			background-image: url('../img/icons/arrow-longer.svg');
			transform: translate(-50%, -50%);
			filter: invert(1);
			content: '';
			@include bg-conatin;
		}
	}
}
