.characteristics {
	padding-bottom: 220px;
	@include adaptiv-value('padding-top', 60, 30, 1);
	background-color: $grey-200;

	&__wrapper {
		display: flex;
		justify-content: space-between;

		@include mq(md) {
			flex-direction: column;
		}
	}

	&__info {
		width: 100%;
		max-width: 367px;

		@include mq(md) {
			max-width: 100%;
		}
	}

	.characteristic-card {
		&:not(:last-child) {
			@include adaptiv-value('margin-bottom', 15, 12, 1);
		}
	}
}
