/* stylelint-disable */

// * colors
$white: #ffffff;
$black: #000000;

$dark-800: #303030;

$red-600: #c82325;

$grey-600: #797979;
$grey-200: #f3f3f5;

// * fonts
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;

$manrope: 'Manrope';
$montserrat: 'Montserrat';