.consultation {
	@include adaptiv-value('padding-bottom', 60, 40, 1);

	&--deny {
		margin-top: -170px;
	}

	&--normal {
		@include adaptiv-value('padding-top', 100, 40, 1);
		@include adaptiv-value('padding-bottom', 100, 40, 1);
	}

	&--top {
		@include adaptiv-value('padding-top', 100, 40, 1);
		padding-bottom: 0;
	}

	&--bottom {
		@include adaptiv-value('padding-bottom', 100, 40, 1);
		padding-top: 0;
	}

	&--zero {
		padding: 0;
	}

	&__wrapper {
		padding: 50px 70px;
		background-color: $dark-800;
		border-radius: 15px;

		@include mq(xl) {
			padding: 20px 16px;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
	}

	&__title {
		color: $white;
	}

	.form {
		&__inner {
			display: flex;
			gap: 12px;
			width: 100%;
			@include adaptiv-value('margin-bottom', 25, 12, 1);

			@include mq(lg) {
				flex-wrap: wrap;
			}

			@include mq(md) {
				flex-direction: column;
			}
		}

		&__item {
			@include mq(lg) {
				flex: 1 0 25%;
			}
		}

		&__button {
			width: 100%;

			@include mq(lg) {
				flex: 0 0 100%;
				flex-direction: column;
			}
		}
	}
}
