.features {
	@include adaptiv-value('padding-bottom', 100, 40, 1);
	position: relative;
	z-index: 1;

	&--top {
		@include adaptiv-value('padding-top', 100, 40, 1);
	}

	&__title {
		text-align: center;
	}

	&__content {
		padding-bottom: 43.5%;

		@include mq(sm) {
			padding-bottom: 65.5%;
		}

		&--big {
			@include mq(sm) {
				padding-bottom: 48%;
			}

			.features__bg {
				width: 100%;
			}
		}
	}

	&__bg {
		left: 50%;
		width: 73.5%;
		transform: translateX(-50%);

		@include mq(sm) {
			width: 99%;
		}
	}

	.accordion {
		&__item {
			flex-direction: column;
		}
	}
}
