.hero-section {
	@include adaptiv-value('padding-bottom', 147, 85, 1);

	@include mq(lg) {
		padding-top: 20px;
	}

	.breadcrumbs {
		@include mq(lg) {
			display: none;
		}
	}

	.inscription {
		@include adaptiv-value('max-width', 1360, 396, 1);
		@include adaptiv-value('height', 162, 48, 1);
		position: absolute;
		bottom: 0;
		left: 51%;
		z-index: 1;
		width: 100%;
		overflow: hidden;
		transform: translateX(-51%);

		&::before {
			bottom: 0;
			left: 50%;
			width: 96%;
			transform: translate(-50%, 40%);

			@include mq(sm) {
				transform: translate(-50%, 10%);
			}
		}
	}

	&__wrapper {
		@include adaptiv-value('gap', 20, 10, 1);
		position: relative;
		display: flex;
		min-height: 610px;

		@include mq(xl) {
			min-height: 360px;
		}

		@include mq(sm) {
			flex-direction: column;
			min-height: auto;
		}

		&::after {
			position: absolute;
			bottom: -15px;
			left: 50%;
			z-index: 2;
			width: 278px;
			height: 63px;
			background-color: $white;
			transform: translateX(-50%);
			content: '';
			clip-path: path(
				'M0.5 63H0.511518C17.1479 63 33.3691 57.7615 46.9107 48.0157L92.8075 14.9843C120.668 -5.06683 158.101 -4.98776 185.878 15.1809L230.829 47.8191C244.423 57.6893 260.749 63 277.5 63H0.5Z'
			);

			@include mq(sm) {
				bottom: -30px;
			}
		}
	}

	&__content,
	&__image {
		@include adaptiv-value('border-radius', 30, 15, 1);
		width: 50%;

		@include mq(sm) {
			width: 100%;
		}
	}

	&__content {
		position: relative;
		padding: 50px;
		padding-bottom: 160px;
		overflow: hidden;
		background-color: $grey-200;

		@include mq(lg) {
			padding: 24px;
			padding-bottom: 112px;
		}

		@include mq(sm) {
			order: -2;
			padding-bottom: 63px;
		}

		.hero-section__inscription {
			display: none;

			@include mq(sm) {
				bottom: -20px;
				display: block;
			}
		}
	}

	&__title {
		@include mq(lg) {
			margin-bottom: 10px;
			font-size: 20px;
		}
	}

	&__text {
		margin-bottom: 40px;
		color: $dark-800;

		@include mq(lg) {
			margin-bottom: 20px;
			font-size: 14px;
		}

		p {
			&:not(:last-child) {
				margin-bottom: 8px;
			}
		}
	}

	&__actions {
		@include adaptiv-value('gap', 15, 10, 1);
		z-index: 1;
		display: flex;

		@include mq(xl) {
			flex-direction: column;
		}

		* {
			@include mq(lg) {
				font-size: 14px;
			}
		}
	}

	&__items {
		@include adaptiv-value('gap', 10, 6, 1);
		z-index: 1;
		display: flex;
		flex-wrap: wrap;
		margin-top: auto;
	}

	&__link {
		@include flex-all-center;
		gap: 8px;
		padding: 8px 20px;
		color: $black;
		font-weight: $fw-600;
		font-size: 16px;
		background-color: $white;
		border-radius: 1000px;
		box-shadow: 0 20px 54px 0 rgba($black, 0.1);

		@include mq(lg) {
			gap: 4px;
			padding: 4px 12px;
			font-size: 14px;
		}
	}

	&__icon {
		position: relative;
		width: 32px;
		height: 32px;
		background-color: $grey-200;
		border: 1px solid rgba($grey-600, 0.2);
		border-radius: 50%;

		&::before {
			@include bg-conatin;
			position: absolute;
			top: 50%;
			left: 50%;
			width: 12px;
			height: 12px;
			background-image: url('../img/sprite.svg#arrow');
			transform: translate(-50%, -50%) rotate(-90deg);
			content: '';
		}

		@include mq(lg) {
			width: 26px;
			height: 26px;
		}
	}

	&__image {
		position: relative;
		padding-bottom: 45%;

		@include mq(sm) {
			padding-bottom: 80%;
		}
	}

	&__extra {
		@include adaptiv-value('font-size', 14, 12, 1);
		@include adaptiv-value('padding', 20, 12, 1);
		@include adaptiv-value('border-radius', 20, 15, 1);
		z-index: 3;
		width: 100%;
		max-width: 490px;
		background-color: $white;
		box-shadow: 0 20px 54px 0 rgba($black, 0.1);

		&--accent {
			@include adaptiv-value('font-size', 20, 12, 1);
			color: $dark-800;
			font-weight: $fw-500;
		}

		b {
			color: $black;
			font-weight: inherit;
		}

		@include mq(xl) {
			max-width: 35%;
		}

		@include mq(sm, min) {
			position: absolute;
			right: 0;
			bottom: -47px;
		}

		@include mq(sm) {
			order: -1;
			max-width: 100%;
			margin-top: -60px;
		}
	}

	&__bg {
		@include resize-bg;
		display: flex;
		border-radius: inherit;
	}

	.circle-link {
		z-index: 3;
		transform: translate(-50%, 50%);

		@include mq(sm) {
			bottom: -10px;
		}
	}
}
