.items-section {
	@include adaptiv-value('padding-top', 100, 40, 1);
	@include adaptiv-value('padding-bottom', 100, 40, 1);

	&--inscription {
		&::before {
			bottom: 0;
			transform: translate(-50%, 30%);
		}
	}

	&--bg {
		padding: 30px 0;
		background-color: $grey-200;

		@include mq(lg) {
			padding: 40px 0 60;
		}

		@include mq(md) {
			padding-bottom: 40px;
		}
	}

	&__wrapper {
		@include flex-center-sb;

		@include mq(lg) {
			flex-direction: column;
		}
	}

	&__content {
		width: 100%;
		max-width: 670px;
		margin-right: 20px;

		@include mq(lg) {
			max-width: 100%;
			margin-right: 0;
			margin-bottom: 40px;
		}

		@include mq(sm) {
			margin-bottom: 20px;
		}
	}

	&__header {
		@include adaptiv-value('margin-bottom', 40, 20, 1);
	}

	&__title {
		margin-bottom: 0;

		&:not(:last-child) {
			@include adaptiv-value('margin-bottom', 15, 10, 1);
		}
	}

	&__text {
		color: $grey-600;
		@include adaptiv-value('margin-bottom', 40, 15, 1);
		@include adaptiv-value('font-size', 20, 12, 1);
	}

	&__items {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 25px;

		&:not(:last-child) {
			@include mq(lg, min) {
				margin-bottom: 40px;
			}
		}

		@include mq(md) {
			grid-template-columns: 1fr;
			gap: 15px;
		}

		&--several {
			@include mq(md) {
				grid-template-columns: 1fr 1fr;
			}
		}
	}

	&__action {
		max-width: fit-content;

		@include mq(lg) {
			display: none;
		}

		&--mobile {
			display: none;

			@include mq(lg) {
				display: flex;
			}

			@include mq(sm) {
				width: 100%;
				max-width: 100%;
			}
		}
	}

	&__image {
		position: relative;
		width: 100%;
		max-width: 630px;
		padding-bottom: 47%;

		&:not(:last-child) {
			margin-bottom: 24px;
		}

		&--normal {
			.items-section__bg {
				@include adaptiv-value('border-radius', 30, 15, 1);
				background-size: cover;
			}

			@include mq(lg) {
				max-width: 100%;
			}
		}

		@include mq(sm) {
			padding-bottom: 73%;
		}

		&--small {
			max-width: 600px;
		}
	}

	&__bg {
		@include resize-bg;
		background-size: contain;
	}
}
