.graph-modal {
	--transition-time: 0.3s;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1000;
	overflow-x: hidden;
	overflow-y: auto;
	text-align: center;
	vertical-align: middle;
	background-color: rgba($black, 0.8);
	visibility: hidden;
	cursor: pointer;
	opacity: 0;
	transition:
		opacity var(--transition-time),
		visibility var(--transition-time);

	&::before {
		display: inline-block;
		height: 100%;
		vertical-align: middle;
		content: '';

		@include mq(sm) {
			display: none;
		}
	}

	&__container {
		@include adaptiv-value('border-radius', 30, 12, 1);
		position: relative;
		display: inline-block;
		display: none;
		width: 100%;
		max-width: 1000px;
		margin: 50px auto;
		text-align: left;
		vertical-align: middle;
		background-color: $white;
		cursor: default;

		@media (max-width: 1024px) {
			width: 90%;
		}

		&.graph-modal-open {
			display: inline-block;
		}

		&--thank {
			.graph-modal__header {
				margin-bottom: 5px;
			}
		}
	}

	&__box {
		@include adaptiv-value('padding', 50, 24, 1);
		@include adaptiv-value('border-radius', 30, 12, 1);
		position: relative;
		background-color: $grey-200;
		border-radius: inherit;
	}

	&__header {
		@include flex-center-sb;
		@include adaptiv-value('margin-bottom', 32, 18, 1);
		gap: 20px;
	}

	&__title {
		margin-bottom: 0;
	}

	&__text,
	&__attach {
		@include adaptiv-value('font-size', 20, 14, 1);
	}

	&__text,
	&__body {
		@include adaptiv-value('margin-bottom', 40, 20, 1);
	}

	&__close {
		@include adaptiv-value('flex-basis', 50, 32, 1);
		@include adaptiv-value('height', 50, 32, 1);
		position: relative;
		flex-shrink: 0;
		background-color: $dark-800;
		border-radius: 50%;

		&::before {
			@include adaptiv-value('width', 25, 16, 1);
			@include adaptiv-value('height', 25, 16, 1);
			@include bg-conatin;
			position: absolute;
			top: 50%;
			left: 50%;
			background-image: url('../img/sprite.svg#close');
			transform: translate(-50%, -50%);
			filter: invert(1);
			content: '';
		}
	}

	&__items,
	&__body {
		@include adaptiv-value('gap', 20, 4, 1);
		display: flex;
	}

	&__body {
		flex-direction: column;
	}

	&__items {
		@include mq(md) {
			flex-direction: column;
		}
	}

	&__item {
		width: 100%;
	}

	.form {
		&__field {
			&--message {
				@include adaptiv-value('height', 140, 100, 1);
				resize: none;
			}

			&--number {
				@include number;
			}
		}
	}

	&__footer {
		display: flex;
		gap: 20px;
		justify-content: space-between;

		@include mq(md) {
			flex-direction: column;
		}
	}

	&__rating {
		@include adaptiv-value('margin-bottom', 15, 10, 1);
	}

	&__photo {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	&__attach {
		position: relative;
		align-self: flex-start;
		padding-left: 45px;
		color: $red-600;

		&::before {
			@include adaptiv-value('width', 30, 18, 1);
			@include bg-conatin;
			@include adaptiv-value('height', 30, 18, 1);
			position: absolute;
			top: 0;
			left: 0;
			background-image: url('../img/icons/paperclip.svg');
			content: '';
		}
	}

	&__button {
		align-self: flex-start;

		@include mq(sm) {
			width: 100%;
		}
	}

	&.is-open {
		visibility: visible;
		opacity: 1;
		transition:
			opacity var(--transition-time),
			visibility var(--transition-time);
	}
}

.fade {
	opacity: 0;
	transition: opacity var(--transition-time);

	&.animate-open {
		opacity: 1;
		transition: opacity var(--transition-time);
	}
}

.fadeInUp {
	transform: translateY(-100px);
	opacity: 0;
	transition:
		transform var(--transition-time),
		opacity var(--transition-time);

	&.animate-open {
		transform: translateY(0);
		opacity: 1;
		transition:
			transform var(--transition-time),
			opacity var(--transition-time);
	}
}
